@value baseColor from '../../../../styles/colors.css';
@value lg from '../../../../styles/breakpoints.css';
@value pageHeaderHeight from '../../../../styles/vars.css';

.main {
  min-height: 100%;
  overflow-y: scroll;
  @media lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media lg {
    height: pageHeaderHeight;
  }
}

.title {
  color: baseColor;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  @media lg {
    color: inherit;
    font-size: 35px;
  }
}

.subHeader {
  display: none;
  @media lg {
    display: initial;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 0;
    color: baseColor;
  }
}
