@value baseColor from '../../../../styles/colors.css';
@value lg from '../../../../styles/breakpoints.css';

.main {
  @media lg {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
