@import '../../../../styles/colors';

.title {
  text-align: center;
  color: var(--mainColor);
  font-size: 30px;
  padding: 20px 20px;
}

.headerImage {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
