.main {
  color: white;
}

.planImage {
  height: 100%
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background:rgba(0,0,0,0.2);

  h2 {
    font-weight: bold;
    text-align: center;
  }
  p {
    text-align: center;
  }
}
