@import '../../../../styles/mixins.css';
@value lg from '../../../../styles/breakpoints.css';

.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @mixin fp padding-top, 30, 80;

    h1 {
      @mixin fp font-size, 16, 24;
      font-weight: 600;
    }

    img {
      margin: 2em 0;
    }
}
