.collectionItem {
  width: calc(100vw / 2 - 15px);
  height: calc(100% - 10px);
  margin: 5px 0;
}

.collectionItem h5 {
  margin: 0;
  font-size: 16px !important;
  color: black;
}

.collectionItem p {
  margin: 8px 0;
  font-size: 11px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardTitle {
  padding: 15px !important;
}

.sort {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}

.sort a, .sort a:visited , .sort a:hover, .sort a:active {
  color: #5CA039;
}

.sort i {
  color: #5CA039;
}
