@value baseColor from '../../../../styles/colors.css';

.collectionItem {
  width: calc(100vw / 2 - 15px);
  margin: 5px 0;
}

.collectionItem > div {
  background-size: contain;
}

.collectionItem h5 {
  margin: 0;
  font-size: 16px !important;
  color: black;
}

.collectionItem p {
  margin: 8px 0;
  font-size: 11px;
  padding: 0 0;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardTitle {
  padding: 15px !important;
}

.sort {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}

.link {
  display: flex;
}

.sort a, .sort a:visited , .sort a:hover, .sort a:active {
  color: baseColor;
}

.sort i {
  color: baseColor;
}
