.navigationItem {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
}

.title {
  font-size: 10px;
  padding-top: 2px;
  color: white;
  font-weight: lighter;
}


.navigationItem svg {
  display: flex;
  justify-content: center;
  width: 28px;
  height: 28px;
  fill: white;
}

.icon {
  display: flex;
  justify-content: center;
  width: 28px;
  height: 28px;
  fill: white;
  font-size: 28px;
  color: white;
  max-width: 28px;
}

.navigationLink {
  width: 100%;
  max-width: 150px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding-top: 5px;
  padding-bottom: 2px;
}

.navigationItem {
  width: 100%;
}

.navigationLink a,
.navigationLink a:active,
.navigationLink a:visited {
  color: #167bca;
}

.navigationLink a:hover,
.navigationLink a:focus {
  color: #004479;
}
