.navigationItem {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
}
  span {
    font-size: 12px;
    padding-top: 4px;
  }

.icon {
  display: flex;
  justify-content: center;
  font-size: 25px
}
