@import '../../../styles/mixins.css';

.main {
  width: 100%;
  height: 100%;
  border-right: 1.3px solid #fff;

  &:last-child {
    border-right: none;
  }
}

.navLink {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  align-items: center;
  color: #fff;

  span {
    @mixin fp font-size, 9, 14;
    font-weight: 600;
  }

  svg {
    fill: #fff;
  }
}

.icon {
  display: flex;
  justify-content: center;
  width: 28px;
  height: 28px;
  fill: white;
  font-size: 28px;
  color: white;
  max-width: 28px;
}
