.navigationItem {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
}

.title {
  font-size: 12px;
  padding-top: 4px;
}

.icon {
  display: flex;
  justify-content: center;
  font-size: 25px
}

.navigationLink a,
.navigationLink a:active,
.navigationLink a:visited {
  color: #167bca;
}

.navigationLink a:hover,
.navigationLink a:focus {
  color: #004479;
}
