.main {
  padding: 0 10px 30px;
}

.title {
  margin: 0 0 20px;
  font-size: 22px;
}

.stats {
  span {
    font-weight: lighter;
  }

  p {
    display: block;
    margin-bottom: 2em;
    line-height: 1.4em;
  }
}
