@value sm from '../../../../styles/breakpoints.css';

.main {
  padding-bottom: 20px;
}

.title {
  margin: 0 0 20px;
  font-size: 22px;
}

.stats {
  span {
    font-weight: lighter;
  }

  p {
    display: block;
    margin-bottom: 2em;
    line-height: 1.4em;
  }
  @media sm {
    p {
      margin-bottom: .8em;
    }
  }
}
