.card {
  display: flex;
  width: calc(100vw / 2 - 15px);
  min-height: 205px;
  margin: 5px 0;
  color: black;
  height: calc(100% - 15px)
}

.card h5 {
  margin: 0;
  font-size: 16px !important;
}

.card p {
  margin: 8px 0;
  font-size: 11px;
  padding: 0;
}
