@value lg from '../../../../styles/breakpoints.css';
@value baseColor, accentGrey from '../../../../styles/colors.css';
@value pageHeaderHeight from '../../../../styles/vars.css';

.map {
  border: 1px solid #ddd;
  @media lg {
    height: 750px;
  }
}

.mapWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  @media lg {
    background-color: accentGrey;
    padding: 50px;
  }
}
