@value lg from '../../../../styles/breakpoints.css';
@value baseColor, accentGrey from '../../../../styles/colors.css';
@value pageHeaderHeight from '../../../../styles/vars.css';

.map {
  display: block;
  margin: auto;
  height: 400px;
  border: black 1px solid;
  @media lg {
    height: 800px;
  }
}

.mapWrapper {
  @media lg {
    background-color: accentGrey;
    padding: 50px;
  }
}
