@value lg from '../../../../styles/breakpoints.css';
@value baseColor, accentGrey from '../../../../styles/colors.css';
@value pageHeaderHeight from '../../../../styles/vars.css';

.map {
  display: block;
  margin: auto;
  height: 400px;
  border: black 1px solid;
}

.title {
  color: baseColor;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  @media lg {
    color: inherit;
    font-size: 35px;
  }
}

.header {
  display: none;
  @media {
    display: flex;
    justify-content: center;
    align-items: center;
    height: pageHeaderHeight;
  }
}

.mapWrapper {
  @media lg {
    background-color: accentGrey;
    padding: 50px;
  }
}

.subHeader {
  display: none;
  @media lg {
    display: block;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 0;
    color: baseColor;
  }
}
