@value accentGrey from '../../../../styles/colors.css';
@value lg from '../../../../styles/breakpoints.css';

.detailsWrapper {
  background-color: accentGrey;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media lg {
    padding: 40px;
  }
}

.details {
  @media lg {
    width: 900px;
  }
}

.details svg {
  height: 20px;
  vertical-align: middle;
}

.details p {
  vertical-align: middle;
}

.details span {
  vertical-align: middle;
  padding: 0 8px;
}

.details div {
  padding: 5px 0;
}

.description {
  padding: 20px 0;
  @media lg {
    display: flex;
    justify-content: center;
  }
}

.description p {
  @media lg {
    width: 900px;
  }
}
