@value lg from '../../../../styles/breakpoints.css';

.main {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media lg {
    height: 100%;
    align-items: center;
    justify-content: space-around;
  }
}

.plansWrapper {
  height: 150px;
  margin-bottom: 2px;
}
