@value lg from '../../../../styles/breakpoints.css';
@value pageHeaderHeight from '../../../../styles/vars.css';
@value accentGrey, baseColor from '../../../../styles/colors.css';

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  @media lg {
    background-color: accentGrey;
  }
}

.planWrapper {
  height: 150px;
  margin-bottom: 2px;

  @media lg {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    flex-grow: 1;
    min-width: 20%;
    margin: 5px 5px;
  }
}

.grid {
  @media lg {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
  }
}

.pageHeader {
  display: none;
  visibility: hidden;

  @media lg {
    font-size: 35px;
    min-height: pageHeaderHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}

.subHeader {
  display: none;
  visibility: hidden;

  @media lg {
    display: block;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 0;
    background-color: white;
    color: baseColor;
  }
}

.gridWrapper {
  @media lg {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
  }
}
