.featuredLink {
  height: 150px;
  margin-bottom: 2px;
  background-size: 100% auto;
  text-align: center;
}

@media (max-width: 400px) { /* thin devices */
  .featuredLink {
    background-size: auto 100%;
  }
}
