.main {
  width: 100%;
  display: flex;

  @media (min-width: 1280px) {
    align-items: center;
    justify-content: space-around;

    .featuredWrapper {
      width: 100%;
      padding: 12px;
      height: 400px;
    }
  }
}

.featuredLink {
  height: 100%;
  width: 100%;
  margin-bottom: 2px;
  background-size: 100% auto;
  text-align: center;
}

@media (max-width: 400px) { /* thin devices */
  .featuredLink {
    background-size: auto 100%;
  }
}
