@import '../../../styles/mixins.css';
@value lg from '../../../styles/breakpoints.css';

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;

  @media lg {
    height: 100%;
    align-items: center;
    justify-content: space-around;
  }
}

.featuredJumbotron {
  width: 100%;
  display: none;
  background: #fff;

  @media lg {
    display: initial;
    @mixin fp height, 180, 430;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      display: block;
      @mixin fp font-size, 27, 50;
    }
  }
}

.featuredContainer {
  background: #F4F4F4;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media lg {
    padding: 12px;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
}
