@import '../../../../styles/colors';

.assets {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
  height: 80px;
  color: var(--mainColor);;
}

.assets a {
   font-size: 10px;
   font-weight: lighter;
   color: var(--mainColor);;
   width: 100%;
}

.asset {
  border: white solid 1px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efeeee;
  flex-direction: column;
  height: 80px;
}

.icon {
  font-size: 40px;
}

.text {
  padding-top: 3px;
}
