@import '../../../../styles/mixins.css';
@value baseColor from '../../../../styles/colors.css';

.main {
  display: flex;
  justify-content: space-around;
  @mixin fp width, 320, 500;
  color: baseColor;
  margin: 0 auto;
  @mixin fp padding, 10, 60;
}

.main a {
  font-size: 10px;
  color: baseColor;
}

.asset {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80px;
}

.icon {
  font-size: 40px;
}

.text {
  padding-top: 3px;
}
