@value baseColor from '../../../styles/colors.css';
@value lg from '../../../styles/breakpoints.css';

.visitPrimaryLinks {
  display: flex;
  justify-content: space-around;
  height: 80px;
  margin: 5px 0;
  color: baseColor;

  @media lg {
    display: none;
  }
}
