@import '../../../styles/mixins.css';
@value lg from '../../../styles/breakpoints.css';

.museumHeader {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #787878;
  height: 30%;
  color: white;

  @media lg {
    height: 100%;
  }
}

.museumName {
  @mixin fp font-size, 28, 120;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 5px;
  text-align: center;
}

.museumTagline {
  @mixin fp font-size, 18, 55;
  font-weight: lighter;
  margin: 0px;
  text-align: center;
  padding: 7px auto;
}

.overlay {
  background:rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrowContainer {
  display: none;
  @media lg {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 4.8em;
  }
}

.downarrow {
  width: 4.7em;
  height: 4.7em;
}
