.museumHeader {
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 150px;
  color: white;
}

@media (max-width: 350px) { /* thin devices */
  .museumHeader {
    background-size: auto 100%;
  }
}

.museumName {
  font-size: 50px;
  margin: 0px;
  margin-bottom: 5px;
}

.museumTagline {
  font-size: 15px;
  font-weight: lighter;
  margin: 0px;
  text-align: center;
}

.overlay {
  background:rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
