@value baseColor, textGrey, accentGrey from '../../../../styles/colors.css';
@value lg from '../../../../styles/breakpoints.css';

.item {
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
}

.image {
  height: 70px;
  width: 70px;
  object-fit: cover;
  @media lg {
    height: 70px;
    width: 70px;
  }
}

.itemText {
  display: flex;
  flex-direction: column;
  color: textGrey;
}

.itemText p {
  padding-bottom: 5px;
  font-size: 15px;
}

.itemHeader {
  color: baseColor;
}

.title {
  color: baseColor;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  @media lg {
    font-size: 35px;
    color: inherit;
  }
}

.main {
  @media lg {
    height: 600px;
  }
}

.headerWrapper {
  @media lg {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.itemsWrapper {
  @media lg {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: accentGrey;
  }
}

.itemLink {
  @media lg {
    width: 900px;
  }
}

.itemBackground {
  @media lg {
    background-color: white !important;
    margin: 5px;
  }
}
