@import '../../styles/mixins.css';
@value baseColor from '../../styles/colors.css';
@value topMenuHeight, botMenuHeight from '../../styles/vars.css';
@value lg from '../../styles/breakpoints.css';

.appLayout {
  height: 100vh;
  width: 100vw;
}

.content {
  height: 100%;
  width: 100%;
  padding-bottom: botMenuHeight;
  padding-top: topMenuHeight;
  overflow-y: scroll;

  @media lg {
    padding-bottom: 0;
  }

  &> div {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.topMenu {
  position: fixed;
  z-index: 1;
}

.navigationSpacer {
  height: 50px;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4 {
  padding: 0 20px;
  padding-bottom: 5px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p {
  padding: 0 20px;
  padding-bottom: 5px;
  line-height: 120%;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}
