@import '../../styles/mixins.css';
@value baseColor from '../../styles/colors.css';

.appLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.appLayout.edit {
  pointer-events: none;
}

.content {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.navigation {
  background-color: baseColor;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 50px;
  box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.25);
}

.topMenu {
  position: fixed;
  z-index: 1;
}

.navigationSpacer {
  height: 50px;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4 {
  padding: 0 20px;
  padding-bottom: 5px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p {
  padding: 0 20px;
  padding-bottom: 5px;
  line-height: 120%;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}
