.appLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.body {
  flex: 1 0 auto;
}

.content {
  height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}

.navigation {
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.navigationSpacer {
  height: 50px;
}
