@value lg from '../../../../styles/breakpoints.css';
@value pageHeaderHeight from '../../../../styles/vars.css';
@value accentGrey, baseColor from '../../../../styles/colors.css';

.preferences h2 {
  padding-bottom: 10px;
}

.preferencesWrapper {
  @media lg {
    background-color: accentGrey;
    padding: 50px;
    display: flex;
    justify-content: center;
  }
}

.preferences {
  @media lg {
    background-color: white;
    padding: 50px;
    width: 900px;
  }
}

.intro {
  background-color: #efeeee;
  padding: 20px;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 20px;
  @media lg {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 0;
    background-color: white;
    color: baseColor;
    font-weight: normal;
    margin-bottom: 0;
  }
}

.continue {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header {
  display: none;
  @media lg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: pageHeaderHeight;
  }
}

.main {
  @media lg {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 35px;
  }
}
