.preferences {
  margin: 0px 20px;
}

.preferences h2 {
  padding-bottom: 10px;
}

.intro {
  background-color: #efeeee;
  padding: 20px;
  font-weight: lighter;
  font-size: 18px;
}

.continue {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bototm: 20px;
}
