.menu {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  padding: 0px;
  margin-top: 4px;
  margin-bottom: 2px;
  max-width: 600px;
}
  a {
    text-decoration: none;
  }
