@value baseColor from '../../../styles/colors.css';
@value botMenuHeight from '../../../styles/vars.css';
@value lg from '../../../styles/breakpoints.css';

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: botMenuHeight;
  background: baseColor;
  display: flex;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.25);

  @media lg {
    display: none;
  }
}
