@import '../../../styles/mixins.css';
@value lg from '../../../styles/breakpoints.css';

.wrapper {
  width: 100%;
  height: 100%;
  max-height: 200px;
  flex-grow: 1;
  border-top: 1px solid #ddd;

  @media lg {
    padding: 63px 12px 12px;
    height: 100%;
    max-height: 100%;
    border: none;
  }
}

.content {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.featuredPath {
  color: white;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

.overlay {
  background:rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    @mixin fp font-size, 10, 45;
  }
}
