@import '../../../styles/mixins.css';

.featuredPath {
  color: white;
  font-size: 20px;
  height: 100%;
}

.overlay {
  background:rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    @mixin fp font-size, 10, 50;
  }
}

.wrapper {
  height: 100%;
}
